<h1>OneLogin OpenId Connect Sample</h1>
<p>
  This is a simple demo of how to use the various
  openid connect authentication method supported by OneLogin.
</p>

<h2>Login with External Site Redirects</h2>
<p><a href="/login">Login via OneLogin</a></p>
<p><a href="/login?provider=google">Login via Google</a></p>
<p><a href="/login?provider=facebook">Login via Facebook</a></p>
