<h1>OneLogin OpenId Connect Sample</h1>
<p>
  This is a simple demo of how to use the
  openid connect authentication flow
</p>

<h2>Login with External Site Redirects</h2>
<p><a href="/login">Login via OneLogin</a></p>
